
.div-container-main {   
    width: 100%;
    height: 100%;
}

.div-space {
    background-color: #a39fc0;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 60%;
}

.div-form-login {
    background-color: #493673;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 40%;
    text-align: center;
}

.div-form-components {
    padding: 5%;
    text-align: center;
}

.img-logo {
    width: 40%;
    height: 300px;
}

.button{
    width: 100%;
    margin-top: 1vh;
}
